@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap");

:root {
  --principal: #cf92f2;
  --backgroung-global: #ffedfd;
  --header-scroll: rgb(114, 40, 211);
  --gradient: linear-gradient(to bottom, #8d13a0, #ffffff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroung-global);
}

/*------------------------------- NAVBAR ----------------------------------*/

.contenedor-header {
  width: 100%;
  position: fixed;
  background-color: rgba(239, 156, 239, 0.3);
  z-index: 2;
  padding: 0 20px;
}

.contenedor-header.scroll {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--header-scroll);
}

.contenedor-header.scroll header{
  padding: 0;
}

.contenedor-header.scroll header nav a{
  color: #e4d97d;
}

.contenedor-header.scroll #cart-container #cart{
  color: #99c4e7;
}

.contenedor-header header {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.contenedor-header #logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: 100% auto;
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 30px;
}

.whatsapp img {
  width: 80px;
  height: 80px;
}

.contenedor-header #burguer-menu {
  display: none;
}

.contenedor-header header nav {
  display: flex;
  gap: 40px;
}

.contenedor-header header nav a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #250101;
  padding: 5px;
  text-transform: uppercase;
}

.contenedor-header header nav a:hover {
  color: #ff1133;
  transform: scale(1.2);
}

.cantPCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.cantPCart button {
  padding: 2px 9px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.cantPCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.cantPCart button{
  padding: 2px 9px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #ffff;
}

#cart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cart {
  height: 50px;
  cursor: pointer;
  color: #250101;
}

.count-products {
  background-color: #46004f;
  color: snow;
  padding: 3px;
}

.container-cart-products {
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contenedor-header header > .scroll {
  top: 60px
}

.container-cart-products h3 {
  text-align: center;
  font-size: 25px;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-product .nomb-precio {
  display: flex;
}

.info-cart-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.6;
  gap: 80px;
}

.titulo-producto-carrito {
  font-size: 18px;
  font-weight: 500;
  width: 50px;
  text-align: center;
}

.precio-producto-carrito {
  font-weight: 600;
  font-size: 20px;
  margin-left: 45px;
  width: 75px;
}

.cantidad-producto-carrito {
  font-weight: bold;
  font-size: 20px;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

#totales {
  display: flex;
  flex-direction: column;
}

#totales p {
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
}

#totales button {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #b889bf;
  color: white;
  margin-top: 18px;
  cursor: pointer;
  transition: all 0.4s;
}

#totales button:hover {
  background-color: #681975;
  color: yellow;
  transform: scaleX(1.12);
}

.colored-toast.swal2-icon-info {
  background-color: #d35a21 !important;
  color: #ffff;
}

#totales span {
  margin-left: 6px;
  margin-left: 6px;
}

.ocultar-carrito {
  display: none;
}

.hideElement {
  display: none;
}

/* -------------------------SECCIÓN INICIO ---------------------------------*/

#inicio {
  height: 100vh;
  background: url(img/banner-principal.jpg);
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.info h4 p {
  color: #000000;
  z-index: 1;
}

#inicio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

#inicio .info {
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#inicio .info h4 {
  font-size: 2rem;
  letter-spacing: 3px;
}

#inicio .info p {
  margin-top: 40px;
  color: #000000;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.opciones {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

#inicio .opciones .opcion {
  border-top: 2px solid #797e8e;
  padding: 7px;
  color: #797e8e;
  margin: 0 20px;
}

/* ---------------------------------------NOSOTROS--------------------------- */

#nosotros {
  background-size: cover;
  background-color: snow;
  padding: 130px 20px;
  text-align: center;
}

#nosotros .contenedor-titulo .info h2 {
  font-size: 3rem;
}
#nosotros p {
  padding: 30px 180px;
  font-size: 30px;
}

/*-------------------------------------- SECCION PRODUCTOS -----------------------------------*/

#productos {
  background-color: snow;
  padding: 80px 20px;
  padding: 80px 20px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

#productos .fila .col1 {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#productos .fila .col1 img {
  width: 80%;
  display: block;
  margin: auto;
  padding: 20px;
}

#productos .fila .col2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

#productos .fila .col2 .contenedor-titulo .info .frase {
  color: #ff1133;
}

#productos .fila .col2 .contenedor-titulo .info h2 {
  font-size: 3rem;
}

#productos .fila .col2 p {
  font-size: 30px;
  line-height: 28px;
  text-align: center;
}

#productos .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px;
}

/*-------------------------------------- SECCION SHOP -----------------------------------*/
#shop-container {
  background-color: #99c4e7;
  padding: 10px 60px;
}

.carrito-productos {
  width: auto;
  height: auto;

  display: grid;
  grid: "barra-lateral productos";
  gap: 8px;

  justify-content: center;
  margin: 0 20px;
}

.barra-lateral {
  grid-area: barra-lateral;
}

.container-prod {
  grid-area: productos;
  margin-top: 120px;
}

.barra-lateral #list-barra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 30px;
  padding: 10px 15px;
}

#list-barra li {
  padding: 40px 10px;
  list-style-type: none;
  display: block;
}

#list-barra .title-list {
  font-size: 2.5rem;
  font-weight: bold;
}

#list-barra .menu-btn {
  font-size: 1.5em;
  cursor: pointer;
}

#list-barra .menu-btn:hover {
  color: #f7f8b8;
  background-color: #741313;
}

.menu-btn.active {
  background-color: #c171ef;
  font-style: oblique;
  color: #fffafa;
  font-weight: 400;
  border-radius: 1.5rem;
}

.titulo-container {
  text-align: center;
  font-size: 3rem;
  color: #2a0483;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 10px;
  padding: 30px 40px;
}

.card-cosmetic {
  height: auto;
  height: auto;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  background-color: #c171ef;
  border-radius: 5%;
  padding: 15px;
  transition: all 0.6s;
}

.card-cosmetic:hover {
  transform: translateY(-8px);
}


.startDiv img {
  width: 100%;
  border-radius: 15%;
  aspect-ratio: 1;
  transition: all 0.9s;
}

.startDiv:hover img {
  transform: scale(1.15);
}

.startDiv h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

.startDiv p {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 15px;
}

.precioCard h5 {
  font-size: 2rem;
  color: #d8ca09;
  text-align: center;
}

.precioCard button {
  margin-top: 1.5rem;
  height: 30px;
  width: 120px;
  font-size: 14px;
  color: bisque;
  border: none;
  font-weight: bolder;
  background-color: blueviolet;
  border-radius: 20px;
  cursor: pointer;
}

/*-------------------------------------- SECCION CARDS -----------------------------------*/
#info-cards {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 20px;
  gap: 40px;
}

#info-cards h2 {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

#info-cards p {
#info-cards p {
  width: 80%;
  text-align: center;
}

#info-cards p > span {
  font-weight: 600;
}

.info-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 570px;
  gap: 20px;
  height: 570px;
  gap: 20px;
  border-radius: 10px;
  padding: 25px 15px;
  background: var(--principal);
  box-shadow: 6px 8px 20px rgba(251, 53, 145, 0.75);
}

.card img {
  width: 200px;
}

.card h3 {
  font-size: 30px;
  font-weight: 700;
}

.card p {
  font-size: 20px;
}

/* --------------------------------SERVICIOS-------------------------------------- */

#servicios {
  color: #fff;
  position: relative;
  background: linear-gradient(#8d13a0, rgba(0, 7, 78, 0.7));
  background-size: cover;
  background-position: center center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
}
#servicios .info h2 {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px;
  font-size: 3rem;
}

#servicios img {
  width: 50%;
  display: block;
  margin: auto;
}

#servicios .info p {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 35px;
  text-align: center;
  padding: 25px;
}

/* -----------------------------------CONTACTO -------------------------------*/
#contacto {
  color: #fff;
  background: var(--gradient);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 20px;
}

#contacto .contenido-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 2rem;
}

#contacto .contenedor-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

#contacto .contenedor-titulo .info {
  margin-left: 30px;
}

#contacto .contenedor-titulo .info h2 {
  font-size: 3rem;
}

/* -------------------Contacto Formulario-------------------*/

#contacto .fila1 {
  display: flex;
}

#contacto .fila1 .col {
  margin-top: 50px;
}

#contacto .fila1 input {
  width: 90%;
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

#contacto .fila {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-between;
}

#contacto .fila .col {
  width: 48%;
}

#contacto .fila input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

#form .form-empty-field input {
  border: 5px solid;
  border-radius: 20px;
  border-color: #e63124;
  background-color: #f7bfaf;
}

#form .form-empty-field #messageArea {
  width: 100%;
  border: 5px solid;
  border-radius: 20px;
  border-color: #e63124;
  background-color: #f7bfaf;
}

.form-empty-field p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #fcf411;
}

#contacto textarea {
  display: block;
  margin-top: 40px;
  padding: 15px;
  font-size: 20px;
  outline: none;
  height: 200px;
  text-align: center;
}

#contacto button {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  border: none;
  background-color: #ff1133;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

#form .message-submit{
  display: none;
}

#form .showErrorMsj {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #270265;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
  color: black;
}

/* ---------------------Contacto Datos ---------------------------*/

#contacto .fila-datos {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  font-size: 15px;
  gap: 4rem;
}

#contacto .fila-datos li {
  color: #000000;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  gap: 2rem;
  padding: 20px;
}

.fila-datos .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.fila-datos .redes a {
  padding: 5px 8px;
  text-decoration: wavy;
}

.redes a img {
  width: 40px;
}

/*----------------------------------- FOOTER -------------------------------*/

footer {
  background-color: #ffffff;
  padding: 30px 0;
}
footer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}
footer .info p {
  color: #797e8e;
}
