
@media screen and (max-width: 348px) {

  #inicio .info {
    width: 200px;
  }

  .contenedor-titulo .info h2 {
    font-size: 20px;
  }

  #contacto .formulario{
    width: 200px;
  }

  #contacto textarea {
    width: 200px;
  }


}


@media screen and (max-width: 568px) {
  .contenedor-header {
    padding: 0;
  }

  #cart-container img {
    width: 40px;
    height: 40px;
  }

  .cart-product{
    padding: 15px 10px;
  }

  .cart-product .nomb-precio {
    flex-direction: column;
    gap: 10px;
  }

  .info-cart-product {
    gap: 50px;
  }

  .nomb-precio .precio-producto-carrito{
    margin-left: 0;
  }

  #inicio .info h4 {
    text-align: center;
    font-size: 20px;
  }

  .container-cart-products {
    width: 220px;
  }

  #nosotros {
    margin-top: 70px;
    padding: 20px 0;
  }

  #nosotros p {
    padding: 50px 45px;
    font-size: 20px;
  }

  #productos {
    padding: 30px 0;
  }

  #productos .fila {
    padding: 50px 0;
  }

  .contenedor-titulo .info p {
    font-size: 20px;
    padding: 20px;
  }

  #info-cards p {
    font-size: 25px;
  }

  .info-cards-container {
    width: 250px;
  }

  .info-cards-container .card {
    height: fit-content;
    width: 230px;
  }

  .info-cards-container .card h3 {
    font-size: 15px;
  }

  .info-cards-container .card p {
    display: none;
  }

  .carrito-productos .barra-lateral {
    margin-bottom: 15em;
  }

  .container-prod {
    margin-top: 130px;
  }

  #shop-container,
  #products-container {
    padding: 0;
  }

  .card-cosmetic {
    max-width: 200px;
  }
  /* #products-container .card-cosmetic {
    /* width: auto; */
  /* }  */

  .startDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .startDiv img {
    width: 70%;
  }

}

/*-----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 820px) {
  #nosotros p {
    padding: 50px 45px;
    font-size: 25px;
  }

  .barra-lateral #list-barra {
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
  }

  .col input {
    width: 100%;
  }

  #contacto .fila1 {
    flex-direction: column;
  }

  #contacto .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contacto .fila-datos li {
    font-weight: 700;
    justify-content: center;
  }

  #contacto .fila-datos li strong {
    display: none;
  }
}

/*-----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 955px) {
  .contenedor-header .responsive {
    display: block;
    position: absolute;
    background-color: #541645;
    top: 96px;
    right: 0;
    height: 120vh;
    width: 60vw;
    padding: 60px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

  #nav a {
    color: #ffff;
    font-size: 15px;
  }

  .contenedor-header #burguer-menu {
    display: block;
    position: absolute;
    width: 35px;
    margin: 0 15px;
    cursor: pointer;
    right: 3px;
  }

  .contenedor-header .ocultar {
    display: none;
  }

  #nosotros p {
    padding: 70px 45px;
  }

  .carrito-productos {
    display: flex;
    flex-direction: column;
  }

  .carrito-productos .barra-lateral {
    display: flex;
    justify-content: center;
    height: 70px;
  }

  .barra-lateral #list-barra {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .barra-lateral #list-barra .title-list {
    display: none;
  }

  .barra-lateral #list-barra .menu-btn {
    padding: 12px 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    background-color: #911070;
    color: #fff;
    border-radius: 30px;
  }


  #info-cards {
    gap: 90px;
  }

  #servicios {
    padding: 50px 0;
  }

  #servicios .info h2 {
    padding: 40px;
  }

  #servicios img {
    display: none;
  }
}

/*-----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
  .contenedor-header header {
    justify-content: start;
    gap: 35px;
  }

  #nav > .productos,
  .servicios,
  .news {
    display: none;
  }

  #cart-container {
    position: absolute;
    right: 90px;
    cursor: pointer;
  }

  .count-products {
    margin-left: -15px;
    margin-top: -30px;
  }

  #productos .fila {
    position: relative;
    margin: auto;
    gap: 150px;
  }

  #productos .fila .col1 {
    display: none;
  }

  #productos .fila .col2 p {
    font-size: 25px;
  }

  /* .startDiv {
    height: 100px;
  } */

  .startDiv p {
    display: none;
  }

  /* .precioCard {
    margin-top: 11em;
    height: 100px;
  } */

  #servicios {
    display: block;
  }
  #servicios img {
    width: 40%;
    padding-top: 100px;
  }
  .nosotros .fila {
    display: block;
  }
  .nosotros .fila .col {
    width: 100%;
    margin: auto;
  }

  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacto .fila-datos {
    display: block;
  }
  .contacto .fila-datos .col {
    margin-bottom: 20px;
  }
  footer .info {
    display: block;
    text-align: center;
  }
  footer .info p {
    margin-bottom: 10px;
  }
}

/*-----------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1600px) {
  body {
    margin: 0 50px;
    width: 95%;
    padding: 0 80px;
  }

  .contenedor-header {
    position: relative;
  }
}
